
*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
 
main
{
    width: 100%;
    text-align: center;
    div
    {
        display: flex;
        align-items: center;
        justify-content: center;

        input
        {
            padding: 10px 15px;
            background-color: burlywood;
            border: 1.2px solid red;
            color: #1c69a0;
            outline: none;
            cursor: pointer;
            font-weight: 700;
            font-size: 15px;
        }

        span{
            margin: 0 20px;
            font-size: 1.5rem;
        }

    }
}




